@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {

    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}


.head {
    width: 100%;
    height: 100vh;
    overflow: hidden !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.container{

    background:rgb(12, 12, 12);

}

.vector1{

    display: flex;
    width: 30%;
    height: auto;
    position: absolute;
    right: 0px;
    top: 0px;
}

.ellipse1{

    display: flex;
    width: 15%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0px;
}

.ellipse2{

    display: flex;
    width: 15%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: -202px;
}


.banner {

    position:absolute;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-right: 8%;
    top: 10%;
    left: 8%;
    animation: zoom2 1s;
    background: none;

}

.banner2{

    line-height: 2.3rem;
    animation: banner 1s;
}

.login-form{

    align-items: center;
    display: flex;
    flex-direction: column;
}

.container2{

    background:rgb(29, 29, 29);
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 30%;
    z-index: 150;
}

.titulo-login{

    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    position: relative;
}

.titulo-login::before{

    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    bottom: -10px;
    left: 0;
    border-radius: 8px;
    background: #ff00cc;
    background: -webkit-linear-gradient(to left, #4400ff, #99009e);
    background: linear-gradient(to left, #4400ff, #99009e);
}

label{

    color: #99009e;
}

.input-field{

    position: relative;
    text-align: center;    
    padding: .2rem;
    margin-bottom: 0;
}

.input-field input{

    outline: none;
    border: none;
    opacity: 100%;
    background: none;
    border-radius: 8px;
    text-align:center;
    font-size: 1.2rem;
    width: 70%;
    z-index: 100;
    color:white !important;
    transition: all 0.5s;
}

.input-field input::placeholder{

    color: #ffffff;
}

.input-field input:hover::placeholder{

    color: #000;
}

.input-field .underline::before{

    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 3px;
    left: 0;
    background-color: #464646;
    border-radius: 8px;
}

.input-field .underline::after{

    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 3px;
    left: 0;
    background: #ff00cc;
    background: -webkit-linear-gradient(to left, #4400ff, #99009e);
    background: linear-gradient(to left, #4400ff, #99009e);
    border-radius: 8px;
    transform: scaleX(0);
    transition: all .3s ease-in-out;
}

.input-field input:focus ~ .underline::after{

    transform: scaleX(1);
}


.logo {
    
    height: 200px;
    transition: all 2s;    
}

.titulo{

    color:#ffffff;
    font-size: 2.5rem;
    font-family:'Poppins', sans-serif;
    font-weight: 400 bold;
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0, 0.192);
    line-height: 3rem;
    width: max-content;
}

.descricao{

    color:#ffffff;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0, 0.219);
    width: 70%;
}

.buttons1{

    display: flex;
    flex-direction: column-reverse;
    margin-top: 10%;
    margin-bottom: -1px;
    padding: .2rem;
    align-items: center;
    width: 100%;
}

.button{

    color: #ffffff;
    font-family:'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1rem;  
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    background: #ff00cc;
    background: -webkit-linear-gradient(to right, #ff0095, #99009e);
    background: linear-gradient(to right, #ff0095, #99009e);
    padding: .6rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.button:hover {

    color: #f247f8;
    letter-spacing: 0.5px;
}

.login-button{

    color: #ffffff;
    font-family:'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;  
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    background: #ff00cc;
    background: -webkit-linear-gradient(to right, #4400ff, #99009e);
    background: linear-gradient(to right, #4400ff, #99009e);
    padding: .6rem;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    margin-top: 0;
    margin-bottom: 0;
    transition: all 0.3s;
}

.login-button:hover{

    color: #f247f8;
    letter-spacing: 0.5px;
    background: #ff00cc;
    background: -webkit-linear-gradient(to right, #99009e, #4400ff);
    background: linear-gradient(to right, #99009e, #4400ff);
}

.register-button{

    color: #ffffff;
    font-family:'Poppins', sans-serif;
    font-weight: 700;
    font-size: .9rem;  
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    background: #ff00cc;
    background: -webkit-linear-gradient(to right, #4400ff, #99009e);
    background: linear-gradient(to right, #4400ff, #99009e);
    padding: .5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
    margin-top: 0;

    transition: all 0.3s;
}

.register-button a{

    color: #ffffff;
    font-weight: 700;
    font-size: .9rem; 
}

.register-button:hover{

    color: #f247f8;
    letter-spacing: 0.5px;
    background: #ff00cc;
    background: -webkit-linear-gradient(to right, #99009e, #4400ff);
    background: linear-gradient(to right, #99009e, #4400ff);
}

.head2{

    width: 100%;
    height: 100vh;
    background-size: cover;
    background:rgb(12, 12, 12) !important;
    overflow: hidden !important;
    align-items: center;
    display: flex;
   
}

.container::after{

    content: '';
    position: absolute;
    height: 4px;
    width: 50%;
    left: 25%;
    border-radius: 8px;
    background: linear-gradient(to right, #99009e, #4400ff);
}

.header2{

    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo2{

    color   :#ffffff;
    font-size: 2.5rem;
    font-family:'Poppins', sans-serif;
    font-weight: 400 bold;
    line-height: 3rem;
    padding: 5%;
    width: max-content; 
}




@keyframes zoom{

    0%{
        transform: scale(1.3);
    }

    100%{
        transform: scale(1);
    }
}

@keyframes zoom2{

    0%{
        transform: scale(.9);
    }

    100%{
        transform: scale(1);
    }
}

@keyframes banner{

    0%{
        transform:translateY(3rem) rotateY(-20deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
    }
}